---
services:
# ****************************************
# OpenTakServer - Cot Server
# ****************************************
  ots:
    user: "${UID:-0}:${GID:-0}"
    image: ghcr.io/milsimdk/ots-docker-image:latest
    container_name: ots
    hostname: opentakserver
    restart: unless-stopped
    tty: true
    ports:
      - 127.0.0.1:8081:8081 # OTS listens on this port on the loopback interface for HTTP(S) requests
    environment:
      DOCKER_SQLALCHEMY_DATABASE_URI: "postgresql+psycopg://ots:${POSTGRESQL_PASSWORD:-POSTGRESQL_PASSWORD}@ots-db/ots"
    volumes:
      - "./persistent/ots:/app/ots"
    depends_on:
      rabbitmq:
        condition: service_healthy
      ots-db:
        condition: service_healthy

# ****************************************
# OpenTakServer - Help Services
# - cot_parser
# - eud_handler
# ****************************************
  ots-cot_parser: &ots-helper
    image: ghcr.io/milsimdk/ots-docker-image:latest
    container_name: ots-cot_parser
    hostname: ots-cot_parser
    restart: unless-stopped
    pull_policy: never
    tty: true
    command: python3 /app/.opentakserver_venv/bin/cot_parser
    healthcheck:
      disable: true
    volumes:
      - "./persistent/ots:/app/ots"
    depends_on:
      ots:
        condition: service_healthy

  ots-eud_handler:
    <<: *ots-helper
    container_name: ots-eud_handler
    hostname: ots-eud_handler
    command: python3 /app/.opentakserver_venv/bin/eud_handler --no-ssl
    ports:
      - 0.0.0.0:8088:8088 # TCP CoT streaming port

  ots-eud_handler-ssl:
    <<: *ots-helper
    container_name: ots-eud_handler-ssl
    hostname: ots-eud_handler-ssl
    command: python3 /app/.opentakserver_venv/bin/eud_handler --ssl
    ports:
      - 0.0.0.0:8089:8089 # SSL CoT streaming port

# ****************************************
# OpenTakServer - Web services
# - Nginx Proxy
# - Web UI
# ****************************************
  nginx-proxy:
    build:
      context: .
      dockerfile: persistent/nginx/Dockerfile
    container_name: nginx-proxy
    hostname: nginx-proxy
    restart: unless-stopped
    ports:
      - 0.0.0.0:80:80 # HTTP Web UI
      - 0.0.0.0:443:443 # HTTPS Web UI

      - 0.0.0.0:8080:8080 # HTTP API requests to OpenTAKServer port 8081
      - 0.0.0.0:8443:8443 # HTTPS API requests to OpenTAKServer port 8081
      - 0.0.0.0:8446:8446 # Proxy for certificate enrollment to OpenTAKServer port 8081

      - 0.0.0.0:8883:8883 # Proxy for MQTT / Meshtastic to Rabbitmq port 1883
    volumes:
      - "./persistent/ots/ca:/app/ots/ca:ro"
      - "./persistent/nginx/templates:/etc/nginx/templates:ro"
    depends_on:
      ots:
        condition: service_healthy
  ots-webui:
    image: ghcr.io/milsimdk/ots-ui-docker-image:latest
    container_name: ots-webui
    hostname: opentakserver-webui
    restart: unless-stopped

# ****************************************
# OpenTakServer - Database services
# - Postgresql / Postgis
# - Rabbitmq
# ****************************************
  ots-db:
    build:
      context: .
      dockerfile: persistent/db/Dockerfile
    container_name: ots-db
    hostname: ots-db
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ${POSTGRESQL_PASSWORD:-POSTGRESQL_PASSWORD}
      POSTGRES_USER: ots
      POSTGRES_DB: ots
    volumes:
      - "./persistent/db:/var/lib/postgresql"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ots -U ots"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:latest
    container_name: rabbitmq
    hostname: rabbitmq
    restart: unless-stopped
    volumes:
      - "./persistent/rabbitmq/enabled_plugins:/etc/rabbitmq/enabled_plugins:ro"
      - "./persistent/rabbitmq/99-opentakserver.conf:/etc/rabbitmq/conf.d/99-opentakserver.conf:ro"
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 30s
      retries: 3

# ****************************************
# OpenTakServer - Other services
# - Mediamtx - Video streaming
# ****************************************
  mediamtx:
    profiles: ["mediamtx"]
    image: bluenviron/mediamtx:1.13.0-ffmpeg
    container_name: mediamtx
    hostname: mediamtx
    restart: unless-stopped
#    network_mode: host
    ports:
      - 0.0.0.0:1935:1935 # RTMP video streams
      - 0.0.0.0:1936:1936 # RTMPS video streams
      - 0.0.0.0:8000:8000/udp # RTP video streams
      - 0.0.0.0:8001:8001/udp # RTCP video streams
#      - 0.0.0.0:8189:8189/udp # WebRTC
      - 0.0.0.0:8322:8322 # RTSP(S) video streams
      - 0.0.0.0:8554:8554 # RTSP video streams
      - 0.0.0.0:8888:8888 # HLS video streams
#      - 0.0.0.0:8889:8889 # WebRTC streams
      - 0.0.0.0:8890:8890/udp # SRT streams
      - 127.0.0.1:9997:9997 # DEBUG
    volumes:
      - "./persistent/ots:/app/ots"
      - "./persistent/ots/mediamtx/mediamtx.yml:/mediamtx.yml"
    depends_on:
      ots:
        condition: service_healthy
